.fertilizers-composition {
  display: inline-block;
  width: 100%;
  max-width: 380px;
  padding-right: 10px;
  margin-bottom: 50px;
  font-size: 14px;

  // background-color: #fffbea;
}

.empty {
  padding: 30px 10px;
  
  color: #00bf60;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  opacity: 0.3;
}

.empty__icon {
  font-size: 90px;
  margin-bottom: 40px;
}

.composition-box {
  // padding: 10px;
  margin-bottom: 35px;
}



