.buttons-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &._ml10 {
    margin-left: 10px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  min-width: 75px;
  margin-right: 20px;
  padding: 8px 15px;
  vertical-align: top;

  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid transparent;
  background-color: #00bf60;
  // background-color: #00CC66;
  // background-color: #5863F8;
  text-decoration: none;
  
  
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .1s linear;

  

  &:hover,
  &:active {
    opacity: 0.85;
    color: #fff;
    // background-color: #d5fde7;
    text-decoration: none;
  }

  &[disabled] {
    // background-color: #00CC66;
    opacity: 0.4;
    cursor: default;
  }

  i {
    margin-right: 10px;
  }

  &._danger {
    background-color: #f93434;
  }
  &._secondary {
    background-color: #aaa;
  }

  &._center {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-top: -4px;
      margin-right: 5px;
    }
  }
}

a.button[type="button"] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

// .button(:disabled):not(.disabled) {
//   cursor: pointer;
// }
