.btn.disabled, .btn:disabled {
  opacity: 0.4;
  cursor: default;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.error {
  color:#f93434;
  font-size: 11px;
}

.main-headertext {
  margin-bottom: 40px;

  color: #00bf60;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.greeting {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main-text {
  margin-bottom: 10px;

  &._center {
    text-align: center;
  }

}