

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  margin-right: 10px;
  cursor: pointer;

  .svg-inline--fa.fa-w-16 {
    width: 100%;
    height: 100%;
  }
  
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }

  &._edit {
    background-image: url('../images/icons/edit.png');
  }

  &._delete {
    background-image: url('../images/icons/delete.png');
  }

  &:last-child {
    margin: 0;
  }
}