.table__row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding: 1px 10px;

  ._db {
    display: block;
    line-height: 1;
  }

  // ._lh1 {
  //   line-height: 1;
  // }

  &._active {
    background-color: #EFE9F4;
  }

  &._head {
    font-size: 12px;
    border: none;
    padding: 10px 10px;
  }
}

.table__cell {
  display: inline-block;
  flex: 1 1 auto;
  width: 100%;
  min-width: 50px;
  text-align: center;

  &._left {
    text-align: left;
  }

  &._1 {
    text-align-last: left;
    max-width: 70px;
  }
}

.table {
  &._colored {
    background-color: #e6ffef;
  }
}

.table-wrap {

  &._ml10 {
    margin-left: 10px;
  }
  
  &._flex {
    flex: 1 1 auto;

  }
}
