@font-face {
	font-family: 'Roboto';
	src: url('./fonts/RobotoRegular/RobotoRegular.eot');
	src: local('☺'),
		 url('./fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
		 url('./fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('./fonts/RobotoBold/RobotoBold.eot');
	src: local('☺'),
		 url('./fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/RobotoBold/RobotoBold.woff') format('woff'),
		 url('./fonts/RobotoBold/RobotoBold.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'RobotoLight';
	src: url('./fonts/RobotoLight/RobotoLight.eot');
	src: local('☺'),
			 url('./fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'),
			 url('./fonts/RobotoLight/RobotoLight.woff') format('woff'),
			 url('./fonts/RobotoLight/RobotoLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo';
	src: url('./fonts/ExoRegular/ExoRegular.eot');
	src: local('☺'),
		 url('./fonts/ExoRegular/ExoRegular.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/ExoRegular/ExoRegular.woff') format('woff'),
		 url('./fonts/ExoRegular/ExoRegular.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Exo';
	src: url('./fonts/ExoBold/ExoBold.eot');
	src: local('☺'),
		 url('./fonts/ExoBold/ExoBold.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/ExoBold/ExoBold.woff') format('woff'),
		 url('./fonts/ExoBold/ExoBold.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'ExoLight';
	src: url('./fonts/ExoLight/ExoLight.eot');
	src: local('☺'),
		 url('./fonts/ExoLight/ExoLight.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/ExoLight/ExoLight.woff') format('woff'),
		 url('./fonts/ExoLight/ExoLight.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}