.popup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    padding-bottom: 150px;
    
    color: #000;
    background-color: rgba(0,0,0, .25);
    z-index: 20;
    overflow-y: auto;
    box-sizing: border-box;

    .input-text {
        min-height: 51px;
    }

    .select  {

        &:focus {
            background-color: #f7f7f7;
        }
    }
}

.popup__window {
    width: 100%;
    max-width: 800px;
    // min-width: 800px;
    position: relative;
    background-color: #fff;
    
    &._medium {
        max-width: 800px;
    }

    &._small {
        max-width: 500px;
    }
}

.popup__title {
    font-size: 32px;
    font-weight: bold;
    padding: 8px 20px;
    padding-right: 60px;
    border-bottom: 1px solid #eee;
}

.popup__content {
    padding: 20px 20px 30px;
}

.popup__cross {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;

    color: #a2a2a2;
    font-size: 35px;
    line-height: 1;
    cursor: pointer;

    &:hover {
        color: #555;
    }

    &:active {
        color: #000;
    }
}

.elements-table__input {
    width: 100%;
    height: 21px;
}