.articles-page {
  display: flex;
  align-items: flex-start;
}

.article-box {
  flex: 1 1 auto;
}

.sidebar {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  margin-right: 25px;
  padding: 3px 0px 15px 0px;

  .button {
    margin-top: 40px;
    width: 100%;
  }
}

.sidebar-list {
  list-style: none;
  padding-left: 0;
}

.sidebar-list__item {
  display: block;
  font-size: 15px;  
  border: 1px solid #d4ccff;
  border-top: none;
  
  &:first-child {
    padding-top: 20px;
  }
  &:last-child {
  }

  a {
    display: block;
    padding: 5px 10px;
    border-bottom: none;

    &._active {
      background-color: #c5e4ff;
      // text-decoration: underline;
    }

    &:hover {
      color: #007bff;
      text-decoration: none;
      opacity: 0.75;
    }

  }

}

.sidebar__title {

  &.head-text {
    margin-bottom: 0;
    font-size: 16px;
    box-shadow: none;
  }
}

.article-box__text {
  display: inline;
}

.article-box__preview {
  display: block;
  margin-bottom: 55px;
  
  color: #111;
}

.article-box__preview__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 10px 10px;

  border-radius: 12px 12px 0 0;
}

.article-box__title {
  padding: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #111;
  
  &:hover {
    opacity: .7;
  }

  // &:visited {
  //   color: #4e4e4e;
  // }
}

.article-box__date {
  padding: 5px 0 10px;
  font-size: 12px;
}

.article-box__content {
  padding: 0 10px 10px;
  font-size: 17px;

  a, p {
    display: inline;
  }

  h2 {
    font-size: 13px;
  }
}