.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
}

.loading-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  position: relative;

  background-color: #eee;
  border-radius: 50%;

  animation: rotation 1s cubic-bezier(.63,.21,.58,.79) infinite;

}

.loading-circle__inner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.loading-circle__little {
  width: 6px;
  height: 6px;
  left: -1px;
  border-radius: 50%;
  position: absolute;
  background-color: #00bf60;
}


@keyframes rotation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}