
.composition {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #eee;  
}

.composition__main {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex: 1 1 auto;
  padding: 10px;
  // padding-bottom: 20px;
  // margin-bottom: 10px;
}

.composition__remove {
  display: flex;
  align-items: center;
  padding: 8px;

  color: #f93434;
  font-size: 10px;
  font-weight: bold;
  background-color: #ffc1c1;
  cursor: pointer;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &:hover {
    background-color: #ffc1c1 + 20%;
  }
  
  &:active {
    background-color: #ffc1c1 + 10%;    
  }
}

.composition-item {
  padding: 8px 15px;
}

.composition__name {
  display: flex;
  align-items: flex-end;
  align-self: center;
  flex-direction: column;
}

.composition__value {
  width: 65px;
  height: 30px;

  color: #495057;
  font-size: 15px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  outline: none;
  text-align: center;
}



.composition-panel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.composition-panel__top {
  font-size: 13px;
  text-align: center;
}

.composition-buttons {
  margin-left: 10px;
}

.composition__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  // color: #fff;
  // font-size: 18px;
  // line-height: 0.65;
  // border-radius: 3px;
  cursor: pointer;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;   

  &._up {
    // margin-bottom: 4px;
  }
  &._down {
  }

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.9;
  }

  .svg-inline--fa.fa-w-14 {
    width: 100%;
    height: 100%;
  }
}