@media screen and (max-width: 1320px) {
  .header__inner {
    max-width: 1280px;
    padding: 0 10px;
  }

  .inner {
    padding: 0 10px;
  }

  .fertilizer,
  .fertilizers-composition,
  .agroculture-block,
  .table-elements {
    max-width: 50%;
  }

  .fertilizers-composition {
    order: 3;
  }

  .calculator-top {
    flex-wrap: wrap;
  }

  .agroculture-block {
    width: 100%;
    order: 2;
  }

  .table-elements {
    order: 4
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    overflow-x: hidden;
  }
  .article-full {
    img {
      width: 100%!important;
    }
  }

  .article-box {
    padding-top: 40px;
  }

  .article-full__top {
    align-items: flex-start;
  }

  .articles-page {
    flex-wrap: wrap;
  }
  .sidebar {
    width: 100%;
    min-width: 0;
    margin-right: 0;
    max-width: none;

    .button {
      margin-top: 20px;
    }
  }

  .sidebar-list {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #d4ccff;
  }

  
  .sidebar-list__item {
    display: inline-block;
    flex:1 1 auto;

    border-right: none;
    
    &:first-child {
      padding-top: 0;
    }
  }

  .header__button {
    display: block;
  }

  .sign-panel {
    width: 100%;
    max-width: 320px;
    position: absolute;
    top: 100%;
    right: -100%;

    background-color: #3f739e;
    z-index: 9;
    border-top: 1px solid #9795ff;
    border-radius: 0 0 0 5px;

    -webkit-box-shadow: -3px 10px 15px 0px rgba(238,238,238,0.25);
    -moz-box-shadow: -3px 10px 15px 0px rgba(238,238,238,0.25);
    box-shadow: -3px 10px 15px 0px rgba(238,238,238,0.25);
    transition: right .15s ease-in-out;

    &._active {
      right: 0;
    }

  }

  .header__username {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .sign-panel__link {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 10px;

    &._active {
      background-color: #004782;
    }
  }
}

@media screen and (max-width: 900px) {
  .mixes__inner {
    flex-wrap: wrap;
  }
  .mix-inputs {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .mix-fertilizer {
    width: 100%;
    min-width: 0;
    margin-right: 0;
  }
  .mix-fertilizer__item {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .mix-fertilizer__title {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    max-width: none;
    line-height: 1.5;
  }
  .mix-fertilizer__calc {
    &._adaptive {
      display: inline-block;
    }
  }

  .mix-calculated {
    display: none;
  }

  .mix-fertilizer__value {
    flex: 0 0 auto;
    margin-right: 20px;
    line-height: 1.5;
  }

  .fertilizer,
  .fertilizers-composition,
  .agroculture-block,
  .table-elements {
    max-width: 100%;
    padding-right: 0;
  }

  .agroculture-block {
    order: 4;
    margin-bottom: 10px;
  }

  .fertilizer-item__name,
  .ingredient-list {
    padding-left: 0;
  }

  .fertilizer-item._active {
    .ingredient-list {
      padding: 20px 15px 15px 15px;
    }
  }

  .mixes__inner {
    flex-wrap: wrap;
  }

  .mix-multiplier {
    width: 100%;
    margin-right: 0;
    padding: 20px;
    padding-left: 0;
  }

  .mixes-box__ctrls {
    min-width: 45px;
  }
}


@media screen and (max-width: 550px) {
  .main-content {
    padding-bottom: 20px;
  }
  .article-full__date {
    padding-top: 30px;
    font-size: 0.7rem;
  }
  .article-box__preview__top {
    padding: 15px 0 10px
  }
  .article-full__top {
    margin-bottom: 30px;
  }
  p {
    font-size: 0.9rem;
  }

  .article-box__content {
    padding: 0 0 10px;
    font-size: 0.9rem;
  }

  .article-full__title,
  .main-headertext {
    font-size: 2rem;
    line-height: 2rem;
  }

  .popup-remove__text {
    margin-bottom: 25px;
  }
  
  .popup__title {
    padding-right: 30px;
    padding-left: 10px;
  }

  .popup__cross {
    width: 30px;
    height: 30px;
    right: 3px;
    top: 12px;
    font-size: 21px;
  }

  .popup__content {
    padding: 10px 10px 15px 10px;

    .popup-line {
      padding-right: 50px;
    }

    .input-text {
      font-size: 14px;
      line-height: 1.5;
      padding: 5px;
    }
    
    .popup__input {
      height: 32px;
      font-size: 14px;
      line-height: 1.5;
      padding: 5px;
    }

    

    .select {
      flex: 1 1 auto;
      height: 32px;

      font-size: 14px;
      line-height: 1.5;
      padding: 5px;
      &._mw200 {
        min-width: 100px;
      }
    }
    
    .subtitle {
      margin-bottom: 7px;
      font-size: 14px;
    }
  }

  .popup__title {
    font-size: 23px;
  }


  .input-text::-webkit-input-placeholder {
    font-size: 14px;
  }
  .input-text::-moz-placeholder          {
    font-size: 14px;
  }
  .input-text:-moz-placeholder           {
    font-size: 14px;
  }
  .input-text:-ms-input-placeholder      {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .sign-panel {
    max-width: none;
    border-radius: 0 0 5px 5px;
  }

  .popup__title {
    font-size: 18px;
  }

  .popup__cross {
    top: 7px;
  }
}