@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$secondary: #edeef0;

@import './styles/table.scss';
@import './styles/button.scss';
@import './styles/icons.scss';
@import './styles/custom.scss';
@import './styles/colors.scss';

body {
  margin: 0;
  padding: 0;
  
  color: #fff;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  // background: #edeef0;
  // background-color: #f3f3f3;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
}

ul, ol, li {
  margin: 0;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 80px;
  color: #000;
}

.inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.input-text {
  width: 100%;
  height: 51px;
  padding: 8px 20px;
  padding-left: 10px;
  margin-bottom: 30px;
  // background-color: $secondary;
  // font-family: 'RobotoLight';
  font-family: 'ExoLight';
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #0F434F;
  outline: none;
  box-sizing: border-box;
}

.input-text::-webkit-input-placeholder {
  color: #999;
  font-family: 'ExoLight';
  // font-weight: normal;
  font-size: 20px;
}
.input-text::-moz-placeholder          {
  color: #999;
  font-family: 'ExoLight';
  // font-weight: normal;
  font-size: 20px;
}
.input-text:-moz-placeholder           {
  color: #999;
  font-family: 'ExoLight';
  // font-weight: normal;
  font-size: 20px;
}
.input-text:-ms-input-placeholder      {
  color: #999;
  font-family: 'ExoLight';
  // font-weight: normal;
  font-size: 20px;
}

.select {
  height: 35px;

  font-size: 20px;
  font-family: 'RobotoLight';
  border: none;
  border-bottom: 1px solid #0F434F;
  outline: none;

  &._mw200 {
    min-width: 200px;
  }
}

.form-button {
  display: block;
  width: 100%;
  min-height: 52px;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 25px;
  padding: 10px 20px;
  
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
  // background-color: #D4766A;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-button:hover {
  opacity: .7;
}

.form-wrap {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

.form-wrap__title {
  margin-bottom: 50px;

  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.dn {
  display: none;
}

.head-text {
  margin-bottom: 20px;
  padding: 7px;
  
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  background-color: #4682b4;
  border-radius: 10px 10px 2px 2px;
  box-shadow: 0px 3px 5px 0px #aaa;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.invalid {
  color: red;
  font-size: 14px;
}

.text-empty {
  color: #00bf60;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  opacity: 0.3;
}

.example-appear {
  opacity: 0.01;
}

.example-enter.example-appear-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;  
}


// .example-exit {
//   opacity: 1;
// }


// .example-exit.example-exit-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

@import './App-media.scss';