.rdw-editor-toolbar {
  margin-bottom: 0;
}


.rdw-editor-main {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #F1F1F1;
  border-top: none;
  font-size: 17px;
  
  img {
    display: block;
    // max-width: 100%;
    max-width: 650px;
    margin: 40px auto;
  }
}

.new-article__select {
  margin-bottom: 40px;

  select {
    // background-color: #f3f3f3;
  }

  .input {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
  }
}

.new-article__select-text {
  display: inline-block;
  margin-right: 10px;
}

.rdw-editor-wrapper {
  margin-bottom: 30px;
}

.textarea {
  margin-bottom: 10px;
}

.bottom-desc {
  color: #aaa;
  font-size: 13px;
}