.article-full__title {
  flex: 1 1 auto;

  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.article-full {
  font-family: 'Exo', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  padding-bottom: 20px;

  p {
    span {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 20px;
  }

  h2 {
    font-size:  27px;
    padding: 30px 0 20px 0;
  }

  img {
    display: block;
    max-width: 650px;
    margin: 40px auto;
  }
}

.article-full__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.article-full__date {
  padding-top: 100px;
  text-align: right;
}