
.popup__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;

  color: #fff;
  font-size: 20px;
  background-color: #31c565;
  cursor: pointer;
  
  &:hover {
    opacity: .7;
  }
  
  &:active {
    opacity: .9;
  }
}

.popup-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 35px;
  position: relative;
}

.popup__input {
  width: 75px;
  height: 35px;
  padding: 0 3px;
  margin-left: 10px;

  font-size: 20px;
  font-family: 'RobotoLight';
  text-align: center;
  border: none;
  border-bottom: 1px solid #0F434F;
  outline: none;
  box-sizing: border-box;
}

.popup__units {
  align-self: center;
  margin-right: 10px;
}

.popup__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 0;

  color: #f93434;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: 1;
  }
}