.add-agroculture__top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 20px;
}

.add-agroculture__box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.add-agroculture__type {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  
  &._vegetation {
    color: #008000;
  }
  
  &._bloom {
    color: #dea54e;
  }
}

.add-agroculture__part {
  flex: 1 1 50%;
  width: 50%;

  &._left {
    
  }
  
  &._right {
    margin-left: 20px;
  }
}