.fertilizer-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4ccff;
  
  &._active {
    padding-bottom: 0;

    .fertilizer-item__top {
      box-shadow: 0px 2px 9px 0px #d5d5d5;
    }
    .fertilizer-item__bottom {
      box-shadow: 0px -2px 9px 0px #d5d5d5 inset;
    }

    .ingredient-list {
      padding-top: 20px;
      padding-bottom: 15px;
      margin-top: 0;
    }

    li {
      display: block;
      // color: #111;
      // margin-bottom: 5px;
    }

    .ingredient-list__item-name,
    .ingredient-list__item-value {
      font-size: 14px;
      line-height: 1.5;
    }

    .ingredient-list__item-name {
      margin-right: 15px;
      min-width: 80px;
    }
  }
  
  &:last-child {
    border: none;
  }
}

.fertilizer-item__bottom {
}

// .opacity-appear {
//   opacity: 1;
//   z-index: 1;
// }

// .opacity-appear.opacity-appear-active{
//   opacity: 1;
//   transition: opacity 500ms linear;
// }

.opacity-enter {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

// .opacity-exit {
//   opacity: 1;
// }

// .opacity-exit.opacity-exit-active {
//   opacity: 0.1;
//   transition: opacity 500ms ease-in;
// }




.fertilizer-item__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  // border-bottom: 1px solid #D90368;
}

.fertilizer-item__name {
  flex: 1 1 auto;
  padding: 8px 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.ingredient-list {
  padding-left: 15px;
  line-height: 1;
  margin-top: -7px;
  // padding-top: 15px;
  // padding-bottom: 10px;
  color: #59ADE9;
  font-size: 14px;

  li {
    display: inline-block;
    margin-right: 10px;
    list-style: none;
  }
}

.ingredient-list__item-value {
  font-size: 10px;
}

.ingredient-list__item-name {
  font-size: 12px;
  margin-right: 2px;
  display: inline-block;  
  // margin-right: 15px;
  // min-width: 70px;
}

.fertilizer-item__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  min-width: 25px;
  height: 100%;
  margin-right: 5px;
  // position: absolute;
  // right: 0;
  // top: 50%;

  color: #92d6aa;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  // transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.85;
  }

  svg.svg-inline--fa {
    width: 100%;
  }
}

.fertilizer-item__ctrls {
  padding: 5px 15px 10px;
}