.mixes {
  width: 100%;
}

.mixes-box {
}

.mixes-box__item {
  border-bottom: 1px solid #d4ccff;

  &._active {
    background-color: #f7f7f7;
  }
}

.mix-fertilizer {
  min-width: 300px;
  padding-top: 10px;
  margin-right: 15px;
}

.mix-calculated {
  padding-top: 10px;
  padding-left: 18px;
  margin-right: 30px;
  border-left: 1px solid #d4ccff;
}

.mix-fertilizer__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 7px;
  font-size: 13px;
  text-transform: none;
}

.mixes-box__top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
  }
}

.mixes-box__title {
  display: inline-block;
  flex: 1 1 auto;
  padding: 8px 15px;
  margin-right: 30px;
}

.mixes-box__ctrls {
  display: inline-block;
  align-self: center;
  margin-right: 5px;

}

.mix-fertilizer__title {
  display: inline-block;
  // width: 100%;
  // max-width: 230px;
  max-width: 350px;
  
  vertical-align: top;
  margin-right: 20px;
}

.mix-fertilizer__value {
  flex: 1 1 auto;
  text-align: right;

  &._percent {
    margin-left: 20px;
    color: #3936f5;
  }
}

.mix-fertilizer__title,
.mix-fertilizer__value {
  line-height: 1;
}

.mix-fertilizer__calc {
  padding-left: 20px;
  border-left: 1px solid #d4ccff;

  &._percent {
    margin-left: 20px;
    color: #3936f5;
  }

  &._adaptive {
    display: none;
  }
}

.mixes__inner {
  display: flex;
  padding: 0 15px;
  padding-bottom: 10px;
}

.mix-inputs {
  margin-right: 30px;
  align-self: center;
}


.multiplier-input {
  width: 65px;
  height: 25px;
  margin: 0 10px 10px;

  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
  text-align: center;

  &._percent {
    color: #3936f5;
  }
}


