.header {
  // background-color: #3f6971;
  background-color: #3f739e;
  // opacity: .5;
}

.header__username {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #59cc92;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;

  color: #fff;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../../images/probe.png) center no-repeat;
  background-size: contain;
}

.header__button {
  display: none;
  font-size: 23px;
  padding: 5px 15px;
  transition: opacity .1s linear;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .7;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 80px;
  margin: 0 auto;
  position: relative;
}

.sign-panel__link {
  color: #fff;
  font-size: 15px;
  margin-left: 40px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.sign-panel__link:hover {
  color: #fff - 40%;
  text-decoration: none;
  // border-color: #92d68d;
}
.sign-panel__link._active {
  border-bottom: 2px solid #9795ff;
  // border-color: #;
}

// 
