.agroculture-block {
  min-width: 210px;
  max-width: 210px;
  margin-bottom: 50px;
}

.table-agroculture {
  margin-bottom: 20px;
  
  .table__row {
    display: flex;
    padding: 3px 10px;
    cursor: pointer;

    &._active {
      transition: padding .1s linear;
      padding-left: 5px;
    }
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  ._left {
    padding-right: 20px;

    &:hover {
      opacity: .8;
    }
  }
}

.agroculture-ctrl {
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  position: relative;
  z-index: 2;
}

