.elements-table {
  font-size: 14px;
}


.elements-table__head {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  
}

.elements-table__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  border-bottom: 1px solid #eee;
}

.elements-table__cell {
  width: 50%;
}
.elements-table__input {
}
